url = "/"
layout = "default"
title = "Úvod"

[collection slides]
handle = "Slider\Slide"

[categories categorieshp]
page = "kategorie"
==
{% if slides.getIterator().count %}
    <div class="swiper slider-swiper">
        <div class="swiper-wrapper">
            {% for slide in slides %}
                <div class="swiper-slide">
                    {% if slide.link %}
                        <a href="{{ slide.link }}">
                    {% endif %}
                            <picture>
                                <source media="(min-width:768px)" srcset="{{ slide.image_lg.thumb(1920, 550, {"mode": "crop"}) }}">

                                <img src="{{ slide.image_sm.thumb(640, 640, {"mode": "crop"}) }}" alt="{{ slide.image_sm.description }}" class="img-fluid w-100">
                            </picture>
                    {% if slide.link %}
                        </a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <div class="swiper-button-next rounded-circle transition">
            <span></span>
        </div>

        <div class="swiper-button-prev rounded-circle transition">
            <span></span>
        </div>
    </div>
{% endif %}

<div class="container-fluid py-5 bg-gray-light" id="categories">
    <div class="container-lg py-xl-4">
        <h2 class="text-center mb-4 mb-xl-5">
            Sortiment
        </h2>

        {% component "categorieshp" %}
    </div>
</div>
